<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hack.getid"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Source and patched manifests are merged according to standard build rules:
        http://tools.android.com/tech-docs/new-build-system/user-guide/manifest-merger -->

    <!--We let the application tag inherit its attributes from the source app.-->
    <application>

        <!--As a convenience, due to this bug in Android Studio:
            https://code.google.com/p/android/issues/detail?id=168306
            We surface part of the default activity to the main manifest
            so that Studio will not complain when launching the app.-->
        <activity android:name="makeinfo.com.getid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--This activity is required by the file chooser we imported:
            https://github.com/bartwell/ExFilePicker#usage -->
        <activity
            android:name="ru.bartwell.exfilepicker.ExFilePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ExFilePickerThemeDark" />

    </application>

    <!--We add this permission to let the file chooser poke around storage.-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
